<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<display-name>testWeb</display-name>
	<welcome-file-list>
	<welcome-file>userinterface.jsp</welcome-file>
	</welcome-file-list>
</web-app>

<!--
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>testWeb1</display-name>
  <welcome-file-list>
    <welcome-file>userinterface.jsp</welcome-file>
  </welcome-file-list>
  

  <servlet>
	  <servlet-name>UserLoginServlet</servlet-name>
	  <servlet-class>testWeb1.servlet.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>UserLoginServlet</servlet-name>
	  <url-pattern>/u</url-pattern>
  </servlet-mapping>

</web-app>
-->